Repository linq2db/linq2db, pull requests merged in 2019-04, with the labels that each got.

#1582 New async connection and transaction API
  .travis.yml
  Source/LinqToDB/Async/AsyncDbConnection.cs
  Source/LinqToDB/Async/AsyncDbTransaction.cs
  Source/LinqToDB/Async/AsyncFactory.cs
  Source/LinqToDB/Async/IAsyncDbConnection.cs
  Source/LinqToDB/Async/IAsyncDbTransaction.cs
  Source/LinqToDB/Async/ReflectedAsyncDbConnection.cs
  Source/LinqToDB/Async/ReflectedAsyncDbTransaction.cs
  Source/LinqToDB/Compatibility/System/Threading/Tasks/TaskEx.cs
  Source/LinqToDB/Data/DataConnection.Async.cs
  Source/LinqToDB/Data/DataConnection.Linq.cs
  Source/LinqToDB/Data/DataConnection.cs
  Source/LinqToDB/Data/DataConnectionTransaction.cs
  Source/LinqToDB/Data/RetryPolicy/RetryingDbConnection.cs
  Source/LinqToDB/DataContext.cs
  Source/LinqToDB/DataContextTransaction.cs
  Source/LinqToDB/Extensions/ReflectionExtensions.cs
  Tests/Linq/Data/DataConnectionTests.cs
  Tests/Linq/Data/TransactionTests.cs
  appveyor.yml
Labels: area: async

#1598 New Attribute for skipping specific values of a column on an insert/update
  Source/LinqToDB/Linq/QueryRunner.Insert.cs
  Source/LinqToDB/Linq/QueryRunner.InsertOrReplace.cs
  Source/LinqToDB/Linq/QueryRunner.InsertWithIdentity.cs
  Source/LinqToDB/Linq/QueryRunner.Update.cs
  Source/LinqToDB/Mapping/ColumnDescriptor.cs
  Source/LinqToDB/Mapping/EntityDescriptor.cs
  Source/LinqToDB/Mapping/EntityMappingBuilder.cs
  Source/LinqToDB/Mapping/MappingSchema.cs
  Source/LinqToDB/Mapping/SkipBaseAttribute.cs
  Source/LinqToDB/Mapping/SkipValuesByListAttribute.cs
  Source/LinqToDB/Mapping/SkipValuesOnInsertAttribute.cs
  Source/LinqToDB/Mapping/SkipValuesOnUpdateAttribute.cs
  Tests/Linq/UserTests/Issue1585Tests.cs
  Tests/Linq/UserTests/SkipCustomTest.cs
  Tests/Linq/UserTests/SkipValuesOnInsertTest.cs
  Tests/Linq/UserTests/SkipValuesOnUpdateTest.cs
  Tests/Linq/UserTests/SkipValuesTestCache.cs
Labels: area: fluent-mapping, area: mapping

#1649 FTS extensions
  Data/Create Scripts/MySql.sql
  Data/Create Scripts/Northwind.sql
  Data/Create Scripts/SQLite.sql
  Source/LinqToDB.Templates/LinqToDB.SqlServer.ttinclude
  Source/LinqToDB.Templates/README.md
  Source/LinqToDB/DataProvider/MySql/MySqlExtensions.cs
  Source/LinqToDB/DataProvider/SQLite/SQLiteExtensions.cs
  Source/LinqToDB/DataProvider/SqlServer/FreeTextTableExpressionAttribute.cs
  Source/LinqToDB/DataProvider/SqlServer/SqlServerExtensions.cs
  Source/LinqToDB/Linq/Builder/AggregationBuilder.cs
  Source/LinqToDB/Linq/Builder/ExpressionBuilder.SqlBuilder.cs
  Source/LinqToDB/Linq/Builder/GroupByBuilder.cs
  Source/LinqToDB/Linq/Builder/TableBuilder.RawSqlContext.cs
  Source/LinqToDB/Linq/TableT.cs
  Source/LinqToDB/Mapping/DynamicColumnsStoreAttribute.cs
  Source/LinqToDB/ServiceModel/LinqServiceSerializer.cs
  Source/LinqToDB/Sql/Sql.ExpressionAttribute.cs
  Source/LinqToDB/Sql/Sql.Expressions.cs
  Source/LinqToDB/Sql/Sql.ExtensionAttribute.cs
  Source/LinqToDB/Sql/Sql.cs
  Source/LinqToDB/SqlProvider/BasicSqlBuilder.cs
  Source/LinqToDB/SqlQuery/SqlField.cs
  Source/LinqToDB/SqlQuery/SqlTable.cs
  Tests/Base/TestProvName.cs
  Tests/Linq/Linq/CompileTests.cs
  Tests/Linq/Linq/FullTextTests.MySql.cs
  Tests/Linq/Linq/FullTextTests.SQLite.cs
  Tests/Linq/Linq/FullTextTests.SqlServer.cs
  Tests/Linq/Linq/SqlExtensionsTests.cs
  Tests/Linq/Linq/TableFunctionTests.cs
  Tests/Linq/UserTests/Issue548Tests.cs
  Tests/T4.Linq/SqlServer.generated.cs
Labels: area: extensions, provider: mssql, provider: mysql, provider: sqlite

#1673 Fix xamarin support
  NuGet/linq2db.nuspec
  Source/LinqToDB/DataProvider/SqlServer/SqlServerTools.cs
  Tests/Linq/Linq/TableFunctionTests.cs
  Tests/Model/NorthwindDB.cs
  Tests/Tests.Android/Assets/AboutAssets.txt
  Tests/Tests.Android/Assets/TestData.sqlite
  Tests/Tests.Android/MainActivity.cs
  Tests/Tests.Android/MainActivity.cs.txt
  Tests/Tests.Android/Properties/AndroidManifest.xml
  Tests/Tests.Android/Properties/AssemblyInfo.cs
  Tests/Tests.Android/Resources/AboutResources.txt
  Tests/Tests.Android/Resources/Resource.Designer.cs
  Tests/Tests.Android/Resources/drawable-hdpi/icon.png
  Tests/Tests.Android/Resources/drawable-xhdpi/icon.png
  Tests/Tests.Android/Resources/drawable-xxhdpi/icon.png
  Tests/Tests.Android/Resources/drawable/icon.png
  Tests/Tests.Android/TestClass.cs
  Tests/Tests.Android/Tests.Android.csproj
  Tests/Tests.Android/app.config
  Tests/Tests.Android/packages.config
  linq2db.sln
Labels: area: xamarin

#1684 fix issue with mapperexpression nullable columns in SAP HANA
  Data/Create Scripts/SapHana.sql
  Source/LinqToDB/DataProvider/SapHana/SapHanaDataProvider.cs
  Tests/Linq/DataProvider/SapHanaTests.cs
  Tests/Linq/Linq/CalculatedColumnTests.cs
  Tests/Linq/Linq/CountTests.cs
  Tests/Linq/Linq/DynamicColumnsTests.cs
  Tests/Linq/Linq/EnumMappingTests.cs
  Tests/Linq/Linq/ExpressionsTests.cs
  Tests/Linq/Linq/IssueTests.cs
  Tests/Linq/Linq/SelectTests.cs
  Tests/Linq/Linq/StringFunctionTests.cs
  Tests/Linq/Update/TruncateTableTests.cs
  Tests/Linq/UserTests/Issue569Tests.cs
Labels: provider: sap-hana

#780 [WIP] Added DatePart and DateAdd replacement samples.
  Source/LinqToDB/DataProvider/DB2/DB2SqlOptimizer.cs
  Source/LinqToDB/DataProvider/Firebird/FirebirdMappingSchema.cs
  Source/LinqToDB/DataProvider/Firebird/FirebirdSqlOptimizer.cs
  Source/LinqToDB/DataProvider/Informix/InformixSqlOptimizer.cs
  Source/LinqToDB/DataProvider/MySql/MySqlSqlOptimizer.cs
  Source/LinqToDB/DataProvider/Oracle/OracleSqlOptimizer.cs
  Source/LinqToDB/DataProvider/PostgreSQL/PostgreSQLMappingSchema.cs
  Source/LinqToDB/DataProvider/PostgreSQL/PostgreSQLSqlOptimizer.cs
  Source/LinqToDB/DataProvider/SQLite/SQLiteSqlOptimizer.cs
  Source/LinqToDB/Sql/Sql.DateTime.cs
  Source/LinqToDB/Sql/Sql.ExtensionAttribute.cs
  Source/LinqToDB/Sql/Sql.cs
  Tests/Linq/Linq/DateTimeFunctionsTests.cs
Labels: area: extensions
