Repository linq2db/linq2db, pull requests merged in 2019-07, with the labels that each got.

#1714 Add a template for implementing IEquatable interface
  Source/LinqToDB.Templates/Equatable.ttinclude
  Source/LinqToDB.Templates/README.md
  Tests/T4.Model/EquatableTest.generated.cs
  Tests/T4.Model/EquatableTest.tt
  Tests/T4.Model/Tests.T4.Model.csproj
  linq2db.sln
Labels: area: T4

#1824 T4 can generate interfaces.
  Source/LinqToDB.Templates/T4Model.ttinclude
  Source/LinqToDB/Mapping/SkipValuesByListAttribute.cs
  Source/LinqToDB/Mapping/SkipValuesOnInsertAttribute.cs
  Tests/T4.Model/ModelTest.generated.cs
  Tests/T4.Model/ModelTest.tt
Labels: area: T4

#1360 Improving Subquery optimization.
  Source/LinqToDB/Linq/Builder/AsSubQueryBuilder.cs
  Source/LinqToDB/Linq/Builder/ExpressionBuilder.cs
  Source/LinqToDB/Linq/Builder/HasUniqueKeysBuilder.cs
  Source/LinqToDB/LinqExtensions.cs
  Source/LinqToDB/Properties/AssemblyInfo.cs
  Source/LinqToDB/ServiceModel/LinqServiceSerializer.cs
  Source/LinqToDB/SqlProvider/JoinOptimizer.cs
  Source/LinqToDB/SqlQuery/QueryInformation.cs
  Source/LinqToDB/SqlQuery/QueryVisitor.cs
  Source/LinqToDB/SqlQuery/SelectQuery.cs
  Source/LinqToDB/SqlQuery/SelectQueryOptimizer.cs
  Source/LinqToDB/SqlQuery/SqlTableSource.cs
  Tests/Base/QueryUtils.cs
  Tests/Base/TestBase.cs
  Tests/Linq/Linq/AnalyticTests.cs
  Tests/Linq/Linq/OptimizerTests.cs
  Tests/Tests.Playground/Tests.Playground.csproj
Labels: area: sql

#1827 Added DataConnection virtual command execute methods.
  Source/LinqToDB/Data/DataConnection.Async.cs
  Source/LinqToDB/Data/DataConnection.cs
  Source/LinqToDB/Data/DbCommandProcessor/DbCommandProcessorExtensions.cs
  Source/LinqToDB/Data/DbCommandProcessor/IDbCommandProcessor.cs
  Source/LinqToDB/Data/RetryPolicy/RetryingDbCommand.cs
  Tests/Linq/DataProvider/OracleTests.cs
  Tests/Linq/Linq/AnalyticTests.cs
Labels: area: data-context
