Repository linq2db/linq2db, pull requests merged in 2019-02, with the labels that each got.

#1572 Issue 1550
  Source/LinqToDB.Templates/T4Model.ttinclude
Labels: T4

#1571 Issue 1551
  Source/LinqToDB.Templates/T4Model.ttinclude
Labels: T4

#1567 Bug when use async methods with compiled query
  Source/LinqToDB/AsyncExtensions.cs
  Source/LinqToDB/AsyncExtensions.generated.cs
  Source/LinqToDB/AsyncExtensions.tt
  Source/LinqToDB/CompiledQuery.cs
  Source/LinqToDB/Expressions/InternalExtensions.cs
  Source/LinqToDB/Linq/Builder/AggregationBuilder.cs
  Source/LinqToDB/Linq/Builder/AllAnyBuilder.cs
  Source/LinqToDB/Linq/Builder/ContainsBuilder.cs
  Source/LinqToDB/Linq/Builder/CountBuilder.cs
  Source/LinqToDB/Linq/Builder/ExpressionBuilder.QueryBuilder.cs
  Source/LinqToDB/Linq/Builder/ExpressionBuilder.cs
  Source/LinqToDB/Linq/Builder/FirstSingleBuilder.cs
  Source/LinqToDB/Linq/CompiledTableT.cs
  Source/LinqToDB/TempTable.cs
  Tests/Linq/DataProvider/PostgreSQLTests.cs
  Tests/Linq/Linq/CompileTests.cs
  Tests/Linq/Linq/CompileTestsAsync.cs
  Tests/Linq/Linq/OrderByDistinctTests.cs
Labels: async, compiled, linq

#1581 currval -> returning id
  Source/LinqToDB/DataProvider/PostgreSQL/PostgreSQLSqlBuilder.cs
Labels: provider-postgresql

#1580 Add sequence schema name to query
  Data/Create Scripts/PostgreSQL.sql
  Source/LinqToDB/DataProvider/PostgreSQL/PostgreSQLSqlBuilder.cs
  Source/LinqToDB/Mapping/SequenceNameAttribute.cs
  Tests/Linq/DataProvider/PostgreSQLTests.cs
  Tests/Model/PostgreSQLSpecific.cs
Labels: provider-postgresql
