Repository linq2db/linq2db, pull requests merged in 2025-03, with the labels that each got.

#4855 TempTable.Insert method is broken.
  Source/LinqToDB/TempTable.cs
  Tests/Linq/Update/TempTableTests.cs
Labels: area: linq, type: bug, status: can be merged

#4852 ORDER BY is removed from subquery even when TOP or LIMIT/OFFSET are used
  Source/LinqToDB/DataProvider/DataProviderBase.cs
  Source/LinqToDB/DataProvider/SqlCe/SqlCeDataProvider.cs
  Source/LinqToDB/SqlProvider/SqlProviderFlags.cs
  Source/LinqToDB/SqlQuery/SelectQueryOptimizerVisitor.cs
  Tests/Linq/Linq/GroupByTests.cs
Labels: area: linq, type: bug

#4884 Fix incorrect parameter deduplication
  Source/LinqToDB/Linq/Builder/ParametersContext.cs
  Source/LinqToDB/Linq/ExpressionCacheManager.cs
  Tests/Linq/Linq/ParameterTests.cs
Labels: severity: regression

#4890 Lambda as a parameter issue
  Source/LinqToDB/Linq/Builder/ExpressionBuildVisitor.cs
  Tests/Linq/Linq/ParameterTests.cs
Labels: area: linq, type: bug

#4889 GroupBy issue
  Source/LinqToDB/Linq/Builder/DeleteBuilder.cs
  Source/LinqToDB/Linq/Builder/InsertBuilder.cs
  Source/LinqToDB/Linq/Builder/InsertOrUpdateBuilder.cs
  Source/LinqToDB/Linq/Builder/MergeBuilder.InsertWhenNotMatched.cs
  Source/LinqToDB/Linq/Builder/MergeBuilder.MergeContext.cs
  Source/LinqToDB/Linq/Builder/MergeBuilder.UpdateWhenMatched.cs
  Source/LinqToDB/Linq/Builder/MergeBuilder.UpdateWhenMatchedThenDelete.cs
  Source/LinqToDB/Linq/Builder/MergeBuilder.UpdateWhenNotMatchedBySource.cs
  Source/LinqToDB/Linq/Builder/MergeBuilder.cs
  Source/LinqToDB/Linq/Builder/MultiInsertBuilder.cs
  Source/LinqToDB/Linq/Builder/UpdateBuilder.cs
  Tests/Linq/Linq/GroupByTests.cs
  Tests/Linq/Linq/LeftJoinTests.cs
Labels: area: linq, type: bug
